@import '../../../../assets/scss/variables';

#navbar{
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: $bg-main;
    padding: 0 10px;

    h2 {
        display: flex;
        align-self: center;
        color: white;
    }
    .fa-icon{
        color: white;
        margin-left: 5px;
    }
    
    #profile-menu{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        position: relative;
        cursor: pointer;

        img {
            width: 40px;
            height:40px;
            display: flex;
            color: white;
            align-self: center;
            margin-right: 5px;
            border-radius: 20px;
        }

        p {
            display: flex;
            align-self: center;
            color: white;
        }

        #profile-options{
            position: absolute;
            top: 50px;
            border-radius: 5px;
            padding: 0px 5px;
            right: 5px;
            border: 1px solid $bg-main; //#d9d9d9;
            background-color: white;
            z-index: 9999;

            p {
                margin: 10px 5px;
                color: $bg-main;
                text-align: left;
                font-weight: bolder;
            }
        }

        form {
            .input-field {
                input,
                select {
                    height: 40px;
                    width: 100%;
                    box-sizing: border-box;
                }
            }
            &>select{
                height:80px;
            }
            .input-file {
                input{
                    height: 80px;
                    width: 100%;
                    box-sizing: border-box;
                }
            }

        }
        .btn-success {
            display: flex;
            justify-self: center;
            background-color: $success;
            border: none;
            padding: 5px;
            width: 70px;
            color: white;
            border-radius: 10px;
            cursor: pointer;
            font-weight: 600;
            margin:auto;
        }

    }
}